.TB-container{
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  background-color: #f5f7fa;
  min-height: 100vh;
}
.TB-card{
  background-color: #fff;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  max-height: 700px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
.TB-h2{
  text-align: center;
  color: #1e2a4a;
  margin-bottom: 25px;
}
.TB-form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.TB-label {
  font-weight: 600;
  color: #333;
  margin-bottom: 6px;
  margin: 15px 15px;
}
.TB-inp {
  padding: 12px;
  border: 1px solid #112D4E;
  border-radius: 8px;
  margin: 5px 0px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}
.TB-inp:focus {
  border-color: #112D4E;
}
.TB-book-btn{
  margin-top: 80px;
  background-color: #112D4E;
  color: white;
  padding: 14px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.TB-book-btn:hover {
  background-color: #2c387e;
}
.TB-sel{
    padding: 12px;
    border: 1px solid #112D4E;
    border-radius: 8px;
    margin: 5px 0px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}